.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 8px;
  font-size: 29px;
}

.DateManager {
    font-size: calc(14px + 2vmin);
    margin-top: 9px;
}

body {
  /*background: linear-gradient(to top right, #808000, #808080, navy);*/
  background-color: #686868;
}
